html {
  background: linear-gradient(#111443, #3798c2);
  font-family: "helvetica neue";
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  background-color: rgba(244, 248, 252, 0.951);
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 3rem;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.061), inset 0 0 0 5px #efefef33,
    inset 0 0 5px black, 0 0 5px rgba(0, 0, 0, 0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.circle {
  width: 15px;
  height: 15px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  border-radius: 50%;
  margin: 145px 145px auto;
}

.hand {
  width: 50%;
  height: 6px;
  background: black;
  position: absolute;
  border-radius: 5px;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.95, 2, 0.6, 1.6);
}

.second-hand {
  height: 3px;
}

.min-hand {
  height: 4px;
}
